COMPOSER_GITHUB_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
COMPOSER_MAGENTO_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
COMPOSER_MAGENTO_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
COMPOSER_BITBUCKET_KEY=XXXXXXXXXXXXXXXXXX
COMPOSER_BITBUCKET_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# M2SETUP_PROJECT_TYPE=enterprise
COMPOSER_PRIVATE_USERNAME=XXXXXXXXXXXXXX
COMPOSER_PRIVATE_PASSWORD=XXXXXXXXXXXXXX
COMPOSER_PRIVATE_URL=some.example.com
#COMPOSER_DEBUG=true
