MAGENTO_RUN_MODE=default
PHP_MEMORY_LIMIT=2048M
PHP_ENABLE_XDEBUG=false
UPDATE_UID_GID=true
DEBUG=false
ENABLE_SENDMAIL=true
UPLOAD_MAX_FILESIZE=64M

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Docker-Compose-Up ENV variables

# Custom project name (it will use parent directory name instead)
M2SETUP_PROJECT=
# PHP Version
M2SETUP_PHP=7.1

# Use normal ports instead of generated ones
DOCKER_FORWARDING_TYPE=normal

# Generate ports map
# example for host m23.cc: 4693:80, 5056:443
#DOCKER_FORWARDING_TYPE=port

# Generate IP map
# Example for host m23.cc:
#    127.56.22.34:80:80, 127.56.22.34:443:443
#DOCKER_FORWARDING_TYPE=ip

# Use custom port for SSH port 22 in case it's taken by your host OS
#DOCKER_FORWARDING_SSH_PORT=21
