MAGENTO_RUN_MODE=default
PHP_MEMORY_LIMIT=2048M
PHP_ENABLE_XDEBUG=false
DEBUG=false
UPLOAD_MAX_FILESIZE=64M

# Use mailcatcher by http://youhost.cc:8080/
USE_MAILCATCHER=true

# set UPDATE_UID_GID=true to update www-data user/group ID
UPDATE_UID_GID=true
# set a custom ID for www-data
# 1000 — for vagrant user, plz set yours
# you MAY NOT set it, just proper owner for magento/ directory
#DOCKER_UID=1000
#DOCKER_GID=1000

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Docker-Compose-Up ENV variables

# Custom project name (it will use parent directory name instead)
M2SETUP_PROJECT=

# PHP Version
# It's not used. Please update PHP version in Dockerfile in cli, fpm folders.
# M2SETUP_PHP=7.1

# Use normal ports instead of generated ones
DOCKER_FORWARDING_TYPE=normal

# Generate ports map
# example for host m23.cc: 4693:80, 5056:443
#DOCKER_FORWARDING_TYPE=port

# Generate IP map
# Example for host m23.cc:
#    127.56.22.34:80:80, 127.56.22.34:443:443
#DOCKER_FORWARDING_TYPE=ip

# Use custom port for SSH port 22 in case it's taken by your host OS
#DOCKER_FORWARDING_SSH_PORT=21
